.App {
  text-align: center;
  background-color: #121212;
  min-height: 80rem;
}

html, body {
  background-color: #121212;
  margin: 0;
  height: 100%;
}

:root {
  color-scheme: dark;
}

h1 {
  font-size: 70px;
  font-weight: 600;
  text-shadow: #FFFFFF 0 0 0.15rem;
  margin: 0;
  background-color: #FFFFFF;
  color: #dbdbdb;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.header-div {
  background-color: #5E5DF0;
  margin-bottom: 2rem;
}

.error {
  color: red;
}

.progress-bar-component {
  margin: 1rem 10rem;
  border: 0.1rem solid #5E5DF0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pb-completed {
  border: 0.1rem solid #50C878;
}

.progress-bar-component:hover { 
  cursor: pointer;
  background-color: #2d2d2d;
}

.progress-bar-status {
  margin: 1rem 1rem;
  width: 80%;
}

textarea {
  width: 100%;
  background-color: #2d2d2d;
  height: 6rem;
  color: #FFFFFF;
  border: transparent;
  min-height: 3rem;
}




/* CSS */
.button-nice {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 1rem;
}

.button-nice:hover {
  background: #6f6fe4;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  opacity: 0.8;
}

.button-nice-completed {
  background: #50C878;
  box-shadow: #50C878 0 10px 20px -10px;
}

.button-nice-completed:hover {
  background: #6acb8b;
  box-shadow: #6acb8b 0 10px 20px -10px;
}


.button-nice-cancel {
  background: #ff4848;
  box-shadow: #ff4848 0 10px 20px -10px;
}

.button-nice-cancel:hover {
  background: #ff4848;
  box-shadow: #ff4848 0 10px 20px -10px;
}

.file-name {
  color: #FFFFFF;
  font-size: small;
  font-weight: 300;
  margin: 1.5rem 5rem;
}

.alias-name {
  color: #FFFFFF;
  font-weight: 700;
  font-size: xx-large;
  margin: 1rem 4rem 0 4rem;
}

.queue-component {
  border: 0.1rem solid #50C878;
}

.queue-message {
  color: #50C878;
  font-weight: 700;
}

.confirmation-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.confirmation-text {
  margin: 0.2rem;
}

.loading-component {
  display: flex;
  justify-content: center;
}

.info-column {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  flex-direction: column;
  width: 100%;
}

.box-border {
  border-bottom: 0.1rem solid #5E5DF0;
  border-left: 0.1rem solid #5E5DF0;
  border-right: 0.1rem solid #5E5DF0;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

  width: fit-content;
  height: fit-content;
}

.completed {
  border-bottom: 0.1rem solid #50C878;
  border-left: 0.1rem solid #50C878;
  border-right: 0.1rem solid #50C878;
}

.remaining-time {
  color: #FFFFFF;
  font-weight: 700;
  padding: 0 0.75rem;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #5E5DF0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright-icon {
    margin: 0 0.5rem;
  }
}

.check-icon {
  color: #50C878;
  size: 12rem;
  margin: 0.5rem 0 0 0rem;
  position: absolute;
  left: 10.5rem;
}

.queue-info {
  color: #50C878;
  margin: 0.5rem 5rem 0.8rem 5rem;
  font-weight: 700;
}

.input-error {
  border: 0.1rem solid red;
}

.button-line {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}




@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  border-radius: 2px;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  background: #2d2d2d;
  align-items: center;
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}